/* 전체 컨테이너 스타일 */
.metamask-auth-container {
    max-width: 600px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 16px;
  }

  .divider {
    height: 1px;
    background-color: #dee2e6;
    margin: 20px 0;
  }
  
  /* 제목 */
  .metamask-auth-container h1 {
    font-size: 24px;
    margin: 0;
    color: #333;
  }
  
  /* 각 단계 제목 */
  .metamask-auth-container h2 {
    text-align: start;
    margin: 0 0 6px 0;
    font-size: 18px;
    color: #2c3e50;
  }
  
  /* 로그 섹션 제목 */
  .metamask-auth-container h3 {
    margin-top: 30px;
    font-size: 16px;
    color: #555;
    margin: 0;

  }
  
  /* 버튼 스타일 */
  .metamask-auth-container button {
    background-color: #0071ce;
    color: white;
    border: none;
    padding: 10px 20px 11px 20px;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 32px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .metamask-auth-container button:hover {
    background-color: #005bb5;
  }
  
  .metamask-auth-container button:disabled {
    background-color: #cccccc;
    cursor: default;
  }
  
.metamask-auth-container .metamask-connected-msg-container {
    background-color: #ceebd0;
    color: #1b7047;
    padding: 12px;
    margin: 16px 0 8px 0;
    border-radius: 8px;
  }

  .metamask-auth-container .metamask-connected-msg {
    margin: 0;
    background-color: #ceebd0;
    color: #1b7047;
    font-weight: 500;
  }

  .metamask-auth-container .metamask-connected-msg-content {
    margin: 0;
    background-color: #f6fbf6;
    color: #333;
    padding: 10px 12px;
    border-radius: 8px;
    margin-top: 10px;
  }

  /* 지갑 주소, 메시지, 서명 결과 텍스트 */
  .metamask-auth-container p {
    background-color: #fff;
    margin: 0;
    color: #666;
  }
  
  /* 로그 출력 영역 */
  .metamask-auth-container .log {
    max-height: 200px;
    overflow-y: auto;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 13px;
    border-radius: 8px;
    margin-top: 10px;
  }
  
  .metamask-auth-container .log div {
    margin-bottom: 5px;
    white-space: pre-wrap;
    font-family: monospace;
    color: #333;
  }
  