.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 200px;
  background-color: #ffffff;
  border-bottom: 1px solid #dee2e6;
  width: 100%;
  box-sizing: border-box;
}

.navbar-left {
}

.navbar-logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  text-align: center;
  line-height: 100%;
}

.navbar-center {
  padding: 21px 0px;
}

.navbar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  gap: 0px;
}

.navbar-link {
  color: #555;
  text-decoration: none;
  font-size: 1rem;
  padding: 0px 16px;
  transition: color 0.2s ease;
  position: relative; 
  padding-bottom: 20px;
}

.navbar-link:hover,
.navbar-link:focus {
  color: #0071ce;
}

.navbar-link.active {
  color: #0071ce;
  font-weight: bold;
}

.navbar-link.active::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1.8px;
  background-color: #0071ce;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 2px;
}

.navbar-login {
  text-decoration: none;
  color: #555;
  font-size: 1rem;
  padding: 5px 10px;
  transition: color 0.2s ease;
}

.navbar-login:hover {
  color: #0071ce;
}

.navbar-search-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.3em;
  color: #555;
  padding: 7px 0px 0px 0px;
}

@media (max-width: 768px) {
  .navbar {
    padding: 24px 0px;
      flex-direction: column;
  }

  .navbar-center {
      margin-top: 10px;
      width: 100%;
  }

  .navbar-menu {
      flex-direction: column;
      width: 100%;
      gap: 5px;
  }

  .navbar-menu li {
      width: 100%;
  }

  .navbar-menu a {
      display: block;
      text-align: center;
      padding: 10px;
  }

  .navbar-right {
      margin-top: 15px;
      width: 100%;
      justify-content: center;
  }
   .navbar-link.active::after {
    display: none;
  }
}